[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
cloudinary = "*"
python-dotenv = "*"
elevenlabs = "*"
whisper-timestamped = "*"
aiohttp = "*"
srt = "*"
pillow = "*"
moviepy = "*"
weaviate-client = "*"
langchain = "*"
langsmith = "*"
openai = "*"
fastapi-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
