@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 0 !important;
}

#markdownContainer ol {
  list-style: decimal !important;
}

#markdownContainer ul {
  list-style: disc !important;
}
